/* Partials */
/* Typography */
@font-face {
  font-family: "Brush Script MT";
  src: url("../../../fonts/BrushScript/BrushScriptStd.otf"); }
/* Colors */
/* Modules */
/* Partials */
main.splash {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #50CEE4; }
  main.splash section.banner {
    position: absolute;
    top: 50%;
    margin-top: -220px;
    width: 100%;
    text-align: center; }
    main.splash section.banner img {
      width: 90px; }
    main.splash section.banner h1 {
      margin-top: 25px;
      font-family: "Brush Script MT";
      font-size: 40px;
      color: #fff; }
    main.splash section.banner p {
      margin: 2px auto 0 auto;
      width: 230px;
      font-size: 15px;
      line-height: 23px;
      color: #fff;
      opacity: 0.70; }
    main.splash section.banner button {
      margin-top: 40px;
      padding: 14px 54px;
      font-size: 14px;
      color: #fff;
      border: 1px solid #fff; }
  main.splash section.bottom-icons {
    position: absolute;
    bottom: 20px;
    width: 100%; }
    main.splash section.bottom-icons ul {
      margin: 0 auto;
      width: 85%; }
      main.splash section.bottom-icons ul super-navigate li i {
        font-size: 24px;
        color: #fff; }
      main.splash section.bottom-icons ul super-navigate:first-child {
        float: left; }
      main.splash section.bottom-icons ul super-navigate:last-child {
        float: right; }

main.home {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #F8F6F7; }
  main.home section.dash {
    padding: 10px;
    width: 100%;
    background-color: #F8F6F7; }
    main.home section.dash ul {
      list-style: none;
      overflow: auto; }
      main.home section.dash ul li {
        float: left;
        padding: 20px;
        text-align: center;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        border-radius: 3px; }
        main.home section.dash ul li i {
          font-size: 55px;
          color: #bbb; }
        main.home section.dash ul li h3 {
          margin-top: 14px;
          font-size: 16px;
          color: #888; }
      main.home section.dash ul li#prefs, main.home section.dash ul li#bar {
        margin-top: 1px;
        width: calc((100% - 12px) / 2); }
      main.home section.dash ul li#prefs {
        margin-right: 10px;
        margin-left: 1px; }
      main.home section.dash ul li#bar {
        margin-right: 1px; }
      main.home section.dash ul li#recipes, main.home section.dash ul li#shopping {
        margin: 10px 0 1px 1px;
        width: calc(100% - 2px); }
      main.home section.dash ul li#shopping {
        padding: 40px 20px; }

main.items {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff; }
  main.items section.options {
    position: fixed;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #ddd; }
    main.items section.options ul {
      margin: 0 auto;
      padding: 10px 0;
      width: 60%;
      list-style: none;
      overflow: auto; }
      main.items section.options ul li {
        text-align: center; }
        main.items section.options ul li i {
          display: block;
          font-size: 35px;
          color: #aaa; }
        main.items section.options ul li span {
          font-size: 13px;
          color: #aaa; }
      main.items section.options ul li:first-child {
        float: left; }
      main.items section.options ul li:last-child {
        float: right; }
  main.items section.ingreds {
    padding-top: 60px;
    width: 100%;
    min-height: 100%;
    background-color: #F8F6F7; }
    main.items section.ingreds ul {
      margin: 0 auto;
      padding: 25px 0 15px 0;
      width: 90%;
      list-style: none;
      overflow: auto; }
      main.items section.ingreds ul li {
        float: left;
        margin: 0 5px 5px 0;
        padding: 5px;
        width: calc((100% - 15px) / 4);
        background-color: #fff;
        border: 1px solid #e5e5e5;
        border-radius: 3px; }
        main.items section.ingreds ul li div.ingred-content {
          width: 100%; }
          main.items section.ingreds ul li div.ingred-content span {
            display: block;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 10px;
            color: #666; }
          main.items section.ingreds ul li div.ingred-content img {
            display: block;
            width: 100%; }
      main.items section.ingreds ul li:nth-child(4n) {
        margin-right: 0; }
      main.items section.ingreds ul div.shelf {
        float: left;
        margin-bottom: 15px;
        width: 100%;
        height: 5px;
        background-color: #ccc; }

main.categories {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff; }
  main.categories section.category-grid {
    width: 100%; }
    main.categories section.category-grid ul {
      margin: 0 auto;
      padding: 25px 0 15px 0;
      width: 90%;
      list-style: none;
      overflow: auto; }
      main.categories section.category-grid ul li {
        float: left;
        margin: 0 10px 10px 0;
        width: calc((100% - 10px) / 2);
        background-color: #F8F6F7;
        border: 1px solid #e5e5e5;
        border-radius: 3px; }
        main.categories section.category-grid ul li span {
          float: right;
          padding: 5px 10px 0 0;
          font-size: 13px;
          color: #888; }
        main.categories section.category-grid ul li h4 {
          padding: 55px 0;
          font-size: 17px;
          color: #888;
          text-align: center; }
      main.categories section.category-grid ul li:nth-child(2n) {
        margin-right: 0; }

main.results {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff; }
  main.results section.options {
    position: fixed;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #ddd; }
    main.results section.options ul {
      margin: 0 auto;
      padding: 10px 0;
      width: 60%;
      list-style: none;
      overflow: auto; }
      main.results section.options ul li {
        text-align: center; }
        main.results section.options ul li i {
          display: block;
          font-size: 35px;
          color: #aaa; }
        main.results section.options ul li span {
          font-size: 13px;
          color: #aaa; }
      main.results section.options ul li:first-child {
        float: left; }
      main.results section.options ul li:last-child {
        float: right; }
  main.results section.recipes {
    padding-top: 80px;
    width: 100%;
    background-color: #fff; }
    main.results section.recipes ul {
      width: 100%;
      list-style: none; }
      main.results section.recipes ul li {
        padding: 6px 10px 0 10px;
        width: 100%;
        overflow: auto; }
        main.results section.recipes ul li img {
          float: left;
          margin-right: 10px;
          width: 110px;
          vertical-align: top; }
        main.results section.recipes ul li div.recipe-description {
          float: left;
          margin-right: 10px;
          width: calc(100% - 110px - 30px - 10px - 10px);
          vertical-align: top; }
          main.results section.recipes ul li div.recipe-description h3 {
            font-size: 17px;
            color: #888; }
          main.results section.recipes ul li div.recipe-description span {
            font-size: 14px;
            color: #aaa; }
        main.results section.recipes ul li div.recipe-metas {
          float: right;
          width: 30px;
          vertical-align: top; }
          main.results section.recipes ul li div.recipe-metas i {
            display: block;
            font-size: 35px; }
          main.results section.recipes ul li div.recipe-metas i.add-recipe {
            margin-bottom: 15px;
            color: #50CEE4; }
          main.results section.recipes ul li div.recipe-metas i.recipe-info {
            color: #5F6D8B; }
        main.results section.recipes ul li div.recipe-more {
          display: none;
          float: left;
          clear: both; }
          main.results section.recipes ul li div.recipe-more h4 {
            font-size: 16px;
            color: #aaa; }
          main.results section.recipes ul li div.recipe-more p {
            font-size: 14px;
            color: #aaa; }
          main.results section.recipes ul li div.recipe-more ul.needed {
            list-style: none; }
            main.results section.recipes ul li div.recipe-more ul.needed li {
              display: inline-block;
              margin-right: 8px; }
            main.results section.recipes ul li div.recipe-more ul.needed li:last-child {
              margin-right: 0; }
          main.results section.recipes ul li div.recipe-more ul.preparation {
            padding-left: 20px;
            list-style-type: square; }
        main.results section.recipes ul li hr {
          float: right;
          clear: both;
          margin-top: 8px;
          margin-bottom: 0;
          width: calc(100% - 110px - 10px);
          border: 1px solid #eee;
          border-style: solid none none none; }

main.shopping-cart {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #F8F6F7; }
  main.shopping-cart section.options {
    position: fixed;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #ddd; }
    main.shopping-cart section.options ul {
      margin: 0 auto;
      padding: 10px 0;
      width: 60%;
      list-style: none;
      overflow: auto; }
      main.shopping-cart section.options ul li {
        float: right;
        text-align: center; }
        main.shopping-cart section.options ul li i {
          display: block;
          font-size: 35px;
          color: #aaa; }
        main.shopping-cart section.options ul li span {
          font-size: 13px;
          color: #aaa; }
  main.shopping-cart section.ingredients {
    padding-top: 80px;
    width: 100%;
    min-height: 100%;
    background-color: #F8F6F7; }
    main.shopping-cart section.ingredients ul {
      list-style: none; }
      main.shopping-cart section.ingredients ul li {
        padding: 6px 10px 0 10px;
        width: 100%;
        overflow: auto; }
        main.shopping-cart section.ingredients ul li img {
          float: left;
          margin-right: 10px;
          width: 20px; }
        main.shopping-cart section.ingredients ul li span {
          float: left;
          font-size: 13px;
          color: #888; }
        main.shopping-cart section.ingredients ul li hr {
          clear: both;
          float: right;
          margin-top: 8px;
          margin-bottom: 0;
          width: calc(100% - 30px);
          border: 1px solid #eee;
          border-style: solid none none none; }

section.drawer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333; }
  section.drawer nav.drawer-nav {
    width: 100%; }
    section.drawer nav.drawer-nav ul {
      width: 100%; }
      section.drawer nav.drawer-nav ul li {
        width: 100%;
        color: #ddd; }

main.item-select section.ingredients ul {
  list-style: none; }
  main.item-select section.ingredients ul li {
    padding: 6px 10px 0 10px;
    width: 100%;
    overflow: auto; }
    main.item-select section.ingredients ul li img {
      float: left;
      margin-right: 10px;
      width: 60px;
      vertical-align: top; }
    main.item-select section.ingredients ul li div.ingredient-info {
      float: left;
      margin-right: 10px;
      width: calc(100% - 60px - 40px - 10px - 10px);
      vertical-align: top; }
      main.item-select section.ingredients ul li div.ingredient-info h3 {
        font-size: 17px;
        color: #888; }
      main.item-select section.ingredients ul li div.ingredient-info span {
        font-size: 14px;
        color: #aaa; }
    main.item-select section.ingredients ul li div.meta-info {
      float: right;
      width: 40px;
      vertical-align: top; }
      main.item-select section.ingredients ul li div.meta-info span {
        color: #888; }
    main.item-select section.ingredients ul li hr {
      clear: both;
      float: right;
      margin-top: 8px;
      margin-bottom: 0;
      width: calc(100% - 70px);
      border: 1px solid #eee;
      border-style: solid none none none; }
  main.item-select section.ingredients ul li.selected {
    background-color: #50CEE4; }
    main.item-select section.ingredients ul li.selected div.ingredient-info h3 {
      color: #fff; }
    main.item-select section.ingredients ul li.selected div.ingredient-info span {
      color: #fff; }
    main.item-select section.ingredients ul li.selected div.meta-info span {
      color: #fff; }

/* Globals */
html, body, div, span, h1, h2, h3, h4,
h5, h6, p, a, img, i, ol, ul, li, form,
label, table, caption {
  margin: 0;
  padding: 0; }

html, body {
  font-family: Arial, Arial, sans-serif; }

/*# sourceMappingURL=main.css.map */
