/* Partials */
/* Typography */
@font-face {
  font-family: "Brush Script MT";
  src: url("../../../fonts/BrushScript/BrushScriptStd.otf"); }
/* Colors */
/* Modules */
/* Partials */
main.splash {
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(#50CEE4, #1c9cb2);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#50CEE4, #1c9cb2);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#50CEE4, #1c9cb2);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#50CEE4, #1c9cb2);
  /* Standard syntax */ }
  main.splash section.banner {
    position: absolute;
    top: 50%;
    margin-top: -230px;
    width: 100%;
    text-align: center; }
    main.splash section.banner img {
      width: 80px; }
    main.splash section.banner h1 {
      margin-top: 25px;
      font-family: "Brush Script MT";
      font-size: 40px;
      color: #fff; }
    main.splash section.banner p {
      margin: 2px auto 0 auto;
      width: 217px;
      font-size: 15px;
      line-height: 23px;
      color: #fff;
      opacity: 0.70; }
    main.splash section.banner button {
      margin-top: 40px;
      padding: 15px 40px;
      font-weight: 500;
      font-size: 13px;
      color: #fff;
      border: 1px solid #fff; }
  main.splash section.bottom-icons {
    position: absolute;
    bottom: 25px;
    width: 100%; }
    main.splash section.bottom-icons ul {
      margin: 0 auto;
      width: 85%; }
      main.splash section.bottom-icons ul super-navigate li i {
        font-size: 24px;
        color: #fff; }
      main.splash section.bottom-icons ul super-navigate:first-child {
        float: left; }
      main.splash section.bottom-icons ul super-navigate:last-child {
        float: right; }

main.home {
  position: absolute;
  width: 100%;
  height: 100%; }
  main.home section.dash {
    width: 100%;
    background-color: #fff; }
    main.home section.dash ul {
      width: 100%;
      list-style: none;
      overflow: auto; }
      main.home section.dash ul li {
        padding: 10px;
        width: 100%;
        background-color: #fff;
        overflow: auto; }
        main.home section.dash ul li i {
          float: left;
          margin-right: 15px;
          font-size: 26px;
          color: #5F6D8B; }
        main.home section.dash ul li h3 {
          float: left;
          padding: 5px 0;
          font-size: 16px;
          color: #5F6D8B; }
        main.home section.dash ul li hr {
          clear: both;
          float: right;
          margin-top: 8px;
          margin-bottom: 0;
          width: calc(100% - 50px);
          border: 1px solid #eee;
          border-style: solid none none none; }

main.items {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff; }
  main.items section.options {
    position: fixed;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #c5c5c5; }
    main.items section.options ul {
      padding: 4px 0;
      width: 100%;
      list-style: none;
      overflow: auto; }
      main.items section.options ul li {
        float: left;
        width: calc((100% - 1px) / 2);
        padding: 5px 0; }
        main.items section.options ul li i {
          margin-right: 3px;
          font-size: 20px;
          color: #5F6D8B; }
        main.items section.options ul li span {
          padding: 2px 0;
          font-size: 16px;
          color: #5F6D8B; }
      main.items section.options ul li:first-child {
        padding-right: 20px;
        border-right: 1px solid #eee;
        text-align: right; }
      main.items section.options ul li:last-child {
        padding-left: 20px;
        text-align: left; }
  main.items section.ingreds {
    padding-top: 30px;
    width: 100%;
    min-height: 100%;
    background-color: #F8F6F7; }
    main.items section.ingreds ul {
      margin: 0 auto;
      padding: 25px 0 15px 0;
      width: 90%;
      list-style: none;
      overflow: auto; }
      main.items section.ingreds ul li {
        float: left;
        margin: 0 5px 5px 0;
        padding: 8px 8px 1px 8px;
        width: calc((100% - 15px) / 4);
        background-color: #fff;
        border: 1px solid #e8e8e8;
        border-radius: 1px; }
        main.items section.ingreds ul li div.ingred-content {
          width: 100%; }
          main.items section.ingreds ul li div.ingred-content img {
            display: block;
            width: 100%; }
          main.items section.ingreds ul li div.ingred-content span {
            display: block;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 10px;
            color: #666; }
      main.items section.ingreds ul li:nth-child(5n-1) {
        margin-right: 0; }
      main.items section.ingreds ul div.shelf {
        float: left;
        margin-bottom: 20px;
        width: 100%;
        height: 9px;
        background-color: #E09C55;
        border: 1px solid #B07A42;
        box-shadow: 0 1px 0 0 #ccc; }

main.categories {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #F8F6F7; }
  main.categories section.category-grid {
    width: 100%; }
    main.categories section.category-grid ul {
      margin: 0 auto;
      padding: 15px 0;
      width: 90%;
      list-style: none;
      overflow: auto; }
      main.categories section.category-grid ul li {
        position: relative;
        float: left;
        margin: 0 10px 10px 0;
        width: calc((100% - 10px) / 2);
        background-color: #F8F6F7;
        border: 1px solid #e8e8e8;
        border-radius: 1px;
        overflow: auto; }
        main.categories section.category-grid ul li img {
          padding: 10px 10px 0 10px;
          width: 100%; }
        main.categories section.category-grid ul li > i {
          position: absolute;
          top: 40px;
          width: 100%;
          text-align: center;
          font-size: 50px;
          color: #5F6D8B; }
        main.categories section.category-grid ul li i + img {
          visibility: hidden; }
        main.categories section.category-grid ul li div.category-info {
          padding: 1px 10px 3px 10px;
          overflow: auto; }
          main.categories section.category-grid ul li div.category-info h4 {
            float: left;
            font-size: 17px;
            color: #666; }
          main.categories section.category-grid ul li div.category-info div.info {
            float: right; }
            main.categories section.category-grid ul li div.category-info div.info i {
              color: #CBA3AC; }
            main.categories section.category-grid ul li div.category-info div.info span {
              font-size: 13px;
              color: #666; }
      main.categories section.category-grid ul li:nth-child(2n) {
        margin-right: 0; }

main.results {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff; }
  main.results section.options {
    position: fixed;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #c5c5c5;
    z-index: 10; }
    main.results section.options ul {
      padding: 4px 0;
      width: 100%;
      list-style: none;
      overflow: auto; }
      main.results section.options ul li {
        float: left;
        width: calc((100% - 1px) / 2);
        padding: 5px 0; }
        main.results section.options ul li i {
          margin-right: 3px;
          font-size: 20px;
          color: #5F6D8B; }
        main.results section.options ul li span {
          position: relative;
          top: -1px;
          font-size: 16px;
          color: #5F6D8B; }
      main.results section.options ul li:first-child {
        padding-right: 20px;
        border-right: 1px solid #eee;
        text-align: right; }
        main.results section.options ul li:first-child i, main.results section.options ul li:first-child span {
          visibility: hidden; }
      main.results section.options ul li:last-child {
        padding-left: 20px;
        text-align: left; }
  main.results section.recipes {
    padding-top: 80px;
    width: 100%;
    background-color: #fff; }
    main.results section.recipes ul {
      width: 100%;
      list-style: none; }
      main.results section.recipes ul li {
        padding: 6px 10px 0 10px;
        width: 100%;
        overflow: auto; }
        main.results section.recipes ul li img {
          float: left;
          margin-right: 10px;
          width: 110px;
          vertical-align: top; }
        main.results section.recipes ul li div.recipe-description {
          float: left;
          margin-right: 10px;
          width: calc(100% - 110px - 30px - 10px - 10px);
          vertical-align: top; }
          main.results section.recipes ul li div.recipe-description h3 {
            font-size: 17px;
            color: #888; }
          main.results section.recipes ul li div.recipe-description span {
            font-size: 14px;
            color: #aaa; }
        main.results section.recipes ul li div.recipe-metas {
          float: right;
          width: 30px;
          vertical-align: top; }
          main.results section.recipes ul li div.recipe-metas i {
            display: block;
            font-size: 35px; }
          main.results section.recipes ul li div.recipe-metas i.add-recipe {
            margin-bottom: 15px;
            color: #50CEE4; }
          main.results section.recipes ul li div.recipe-metas i.recipe-info {
            color: #5F6D8B; }
        main.results section.recipes ul li div.recipe-more {
          display: none;
          float: left;
          clear: both; }
          main.results section.recipes ul li div.recipe-more h4 {
            font-size: 16px;
            color: #aaa; }
          main.results section.recipes ul li div.recipe-more p {
            font-size: 14px;
            color: #aaa; }
          main.results section.recipes ul li div.recipe-more ul.needed {
            list-style: none; }
            main.results section.recipes ul li div.recipe-more ul.needed li {
              display: inline-block;
              margin-right: 8px; }
            main.results section.recipes ul li div.recipe-more ul.needed li:last-child {
              margin-right: 0; }
          main.results section.recipes ul li div.recipe-more ul.preparation {
            padding-left: 20px;
            list-style-type: square; }
        main.results section.recipes ul li hr {
          float: right;
          clear: both;
          margin-top: 8px;
          margin-bottom: 0;
          width: calc(100% - 110px - 10px);
          border: 1px solid #eee;
          border-style: solid none none none; }

main.shopping-cart {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #F8F6F7; }
  main.shopping-cart section.options {
    position: fixed;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #c5c5c5;
    z-index: 10; }
    main.shopping-cart section.options ul {
      padding: 4px 0;
      width: 100%;
      list-style: none;
      overflow: auto; }
      main.shopping-cart section.options ul li {
        float: left;
        width: calc((100% - 1px) / 2);
        padding: 5px 0; }
        main.shopping-cart section.options ul li i {
          margin-right: 3px;
          font-size: 20px;
          color: #5F6D8B; }
        main.shopping-cart section.options ul li span {
          position: relative;
          top: -1px;
          font-size: 16px;
          color: #5F6D8B; }
      main.shopping-cart section.options ul li:first-child {
        padding-right: 20px;
        border-right: 1px solid #eee;
        text-align: right; }
        main.shopping-cart section.options ul li:first-child i, main.shopping-cart section.options ul li:first-child span {
          visibility: hidden; }
      main.shopping-cart section.options ul li:last-child {
        padding-left: 20px;
        text-align: left; }
  main.shopping-cart section.ingredients {
    padding-top: 60px;
    width: 100%;
    min-height: 100%;
    background-color: #F8F6F7; }
    main.shopping-cart section.ingredients ul {
      list-style: none; }
      main.shopping-cart section.ingredients ul li {
        padding: 6px 10px 0 10px;
        width: 100%;
        overflow: auto; }
        main.shopping-cart section.ingredients ul li img {
          float: left;
          margin-right: 10px;
          width: 20px; }
        main.shopping-cart section.ingredients ul li span {
          float: left;
          font-size: 13px;
          color: #888; }
        main.shopping-cart section.ingredients ul li hr {
          clear: both;
          float: right;
          margin-top: 8px;
          margin-bottom: 0;
          width: calc(100% - 30px);
          border: 1px solid #eee;
          border-style: solid none none none; }

section.drawer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333; }
  section.drawer nav.drawer-nav {
    width: 100%; }
    section.drawer nav.drawer-nav ul {
      width: 100%; }
      section.drawer nav.drawer-nav ul li {
        width: 100%;
        color: #ddd; }

main.item-select section.options {
  position: fixed;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #c5c5c5;
  z-index: 10; }
  main.item-select section.options ul {
    padding: 4px 0;
    width: 100%;
    list-style: none;
    overflow: auto; }
    main.item-select section.options ul li {
      float: left;
      width: calc((100% - 1px) / 2);
      padding: 5px 0; }
      main.item-select section.options ul li i {
        margin-right: 3px;
        font-size: 20px;
        color: #5F6D8B; }
      main.item-select section.options ul li span {
        padding: 2px 0;
        font-size: 16px;
        color: #5F6D8B; }
    main.item-select section.options ul li:first-child {
      padding-right: 20px;
      border-right: 1px solid #eee;
      text-align: right; }
      main.item-select section.options ul li:first-child i, main.item-select section.options ul li:first-child span {
        visibility: hidden; }
    main.item-select section.options ul li:last-child {
      padding-left: 20px;
      text-align: left; }
main.item-select section.search {
  top: 41px; }
main.item-select section.ingredients {
  padding-top: 40px; }
  main.item-select section.ingredients ul {
    list-style: none; }
    main.item-select section.ingredients ul li {
      padding: 6px 10px 0 10px;
      width: 100%;
      overflow: auto; }
      main.item-select section.ingredients ul li img {
        float: left;
        margin-right: 10px;
        width: 60px;
        vertical-align: top; }
      main.item-select section.ingredients ul li div.ingredient-info {
        float: left;
        margin-right: 10px;
        width: calc(100% - 60px - 40px - 10px - 10px);
        vertical-align: top; }
        main.item-select section.ingredients ul li div.ingredient-info h3 {
          font-size: 17px;
          color: #666; }
        main.item-select section.ingredients ul li div.ingredient-info span {
          font-size: 14px;
          color: #aaa; }
      main.item-select section.ingredients ul li div.meta-info {
        float: right;
        width: 40px;
        vertical-align: top; }
        main.item-select section.ingredients ul li div.meta-info span {
          color: #bbb; }
      main.item-select section.ingredients ul li hr {
        clear: both;
        float: right;
        margin-top: 8px;
        margin-bottom: 0;
        width: calc(100% - 70px);
        border: 1px solid #eee;
        border-style: solid none none none; }
    main.item-select section.ingredients ul li.selected {
      background-color: #e7d4d8; }
      main.item-select section.ingredients ul li.selected hr {
        border-color: #e7d4d8; }

main.item-menu {
  width: 100%; }
  main.item-menu ul.container {
    margin-left: 1em;
    margin-right: 1em;
    width: auto;
    margin-top: 1em;
    list-style: none; }
    main.item-menu ul.container li.row {
      width: 100%;
      display: block; }
      main.item-menu ul.container li.row ul {
        list-style: none; }
        main.item-menu ul.container li.row ul li {
          float: left;
          margin-bottom: 1em;
          padding: 50px 0;
          height: 10em;
          width: calc((100% - 1em) / 2);
          background-color: #33FFFF;
          text-align: center; }
          main.item-menu ul.container li.row ul li span {
            font-family: Arial;
            font-size: 2em; }
        main.item-menu ul.container li.row ul li:first-child {
          margin-right: 1em; }
        main.item-menu ul.container li.row ul li#liquor {
          background-color: #FF0000; }
        main.item-menu ul.container li.row ul li#mixer {
          background-color: #FF8000; }
        main.item-menu ul.container li.row ul li#fruit {
          background-color: #FFFF00; }
        main.item-menu ul.container li.row ul li#spice {
          background-color: #00CC00; }
        main.item-menu ul.container li.row ul li#other {
          background-color: #0000FF; }

/* Globals */
html, body, div, span, h1, h2, h3, h4,
h5, h6, p, a, img, i, ol, ul, li, form,
label, table, caption {
  margin: 0;
  padding: 0; }

html, body {
  font-family: Arial, Arial, sans-serif; }

/*# sourceMappingURL=main.css.map */
