<main class="categories" ng-controller="CategoriesCtrl">


	<super-navbar class="navbar">
		<super-navbar-title>Categories</super-navbar-title>
	</super-navbar>


	<section class="category-grid">
		<ul>
			<li>
				<span>5 selected</span>
				<h4>Liquors</h4>
			</li>
			<li>
				<span>5 selected</span>
				<h4>Mixers</h4>
			</li>
			<li>
				<span>5 selected</span>
				<h4>Fruits</h4>
			</li>
			<li>
				<span>5 selected</span>
				<h4>Spices</h4>
			</li>
			<li>
				<span>5 selected</span>
				<h4>Other</h4>
			</li>
			<li>
				<span>5 selected</span>
				<h4>View All</h4>
			</li>
		</ul>
	</section>


</main>
