<main class="item-menu" ng-controller="ItemMenu">


	<super-navbar class="navbar">
		<super-navbar-title>Item Categories</super-navbar-title>
		<super-navbar-button side="left" location = "inputs#items">My Bar</super-navbar-button>
		<super-navbar-button side="right" ng-click="showAll()">Show All</super-navbar-button>
	</super-navbar>

	<section class = "menu">
		<ul class="container">
			<li class="row">
				<ul>
				  <li id="liquor" ng-click="chooseCategory('liquor')">Liquor</li>
				  <li id="mixer" ng-click="chooseCategory('mixer')"></li>
				</ul>
			</li>
			<li class="row">
				<ul>
				  <li id="fruit" ng-click="chooseCategory('fruit')"></li>
				  <li id="spice" ng-click="chooseCategory('spice')"></li>
				</ul>
			</li>
			<li class="row">
				<ul>
				  <li id="other" ng-click="chooseCategory('other')"></li>
				  <li></li>
				</ul>
			</li>
		</ul>
	</section>
</main>
