<main class="item-select" ng-controller="InputCtrl">


    <super-navbar class="navbar">
        <super-navbar-title>Choose An Item</super-navbar-title>
    </super-navbar>


    <section class="search bar bar-header item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon super-ios7-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="searchBarText">
            <i class="icon super-close-circled placeholder-icon" ng-if="searchBarText" ng-click="clearSearchBarText()"></i>
        </label>
    </section>


    <section class="ingredients">
        <ul>
            <li class="ingredient" ng-class="{selected: $index % 3 == 0}" ng-repeat="item in allIngredients | addItemsList:ingredIdList:searchBarText:category | orderBy: 'name'">
                <img src="http://www.allotment-garden.org/store/fruit-nut-tree/assets/strawberry_plants.jpg" />                
                <div class="ingredient-info">
                    <h3>Strawberries</h3>
                    <span>Lorem ipsum dolor sit amet</span>
                </div>
                <div class="meta-info">
                    <span>Liquor</span>
                </div>
                <hr>
            </li>
        </ul>
    </section>


</main>
