<main class="item-menu" ng-controller="ItemMenu">


	<super-navbar class="navbar">
		<super-navbar-title>Item Categories</super-navbar-title>
		<super-navbar-button side="right" ng-click="chooseCategory('')">Show All</super-navbar-button>
	</super-navbar>

	<ul class="container">
		<li class="row">
			<ul>
			  <li id="liquor" ng-click="chooseCategory('liquor')"><span>Liquor</span></li>
			  <li id="mixer" ng-click="chooseCategory('mixer')"><span>mixer</span></li>
			</ul>
		</li>
		<li class="row">
			<ul>
			  <li id="fruit" ng-click="chooseCategory('fruit')"><span>fruit</span></li>
			  <li id="spice" ng-click="chooseCategory('spice')"><span>spice</span></li>
			</ul>
		</li>
		<li class="row">
			<ul>
			  <li id="other" ng-click="chooseCategory('other')"><span>other</span></li>
			  <li></li>
			</ul>
		</li>
	</ul>

</main>
