<main class="items" ng-controller="ItemsCtrl">


	<super-navbar class="navbar">
		<super-navbar-title>My Bar</super-navbar-title>
	</super-navbar>


	<section class="options">
		<ul>
			<li ng-click="clearAllItems()">
				<i class="fa fa-times"></i>
				<span>CLEAR</span>
			</li>
			<super-navigate location="inputs#categories">
				<li>
					<i class="fa fa-plus-square-o"></i>
					<span>ADD</span>
				</li>
			</super-navigate>
		</ul>
	</section>


	<section class="ingreds">
		<ul>
			<div ng-swipe-right="showActions=false">
				<li ng-swipe-left="showDeleteButton($index)" ng-repeat="ingred in ingredList | orderBy: 'name' ">
					<div class="ingred-content">
						<span>{{ingred.name}}</span>
						<!-- <button ng-show="showButton($index)" ng-click="cancel($index)" style="  width:25%; background-color: #CC0022; color: white;float:right;">Delete</button> -->
					</div>
				</li>
			</div>
		</ul>
	</section>
</main>
