<main class="items" ng-controller="ItemsCtrl">


	<super-navbar class="navbar">
		<super-navbar-title>My Bar</super-navbar-title>
	</super-navbar>


	<section class="options">
		<ul>
			<li ng-click="clearAllItems()">
				<i class="fa fa-times"></i>
				<span>Clear</span>
			</li>
			<li ng-click="addIngredient()">
				<i class="icon super-plus-circled"></i>
				<span>Add</span>
			</li>
		</ul>
	</section>


	<section class="ingreds">
		<ul>
			<li>
				<div class="ingred-content">
					<span>Strawberries</span>
					<img src="http://www.allotment-garden.org/store/fruit-nut-tree/assets/strawberry_plants.jpg" />
				</div>
			</li>
			<li>
				<div class="ingred-content">
					<span>Bacardi Lime</span>
					<img src="https://www.bottlevalues.com/images/labels/bacardi-rum-limon-puerto-rico.gif" />
				</div>
			</li>
			<li>
				<div class="ingred-content">
					<span>Sprite</span>
					<img src="http://forums.terraria.org/index.php?attachments/sprite-soda-png.8784/" />
				</div>
			</li>
			<li>
				<div class="ingred-content">
					<span>Mint Leaves</span>
					<img src="http://farm1.static.flickr.com/118/275996337_f7713b3022.jpg" />
				</div>
			</li>
			<li>
				<div class="ingred-content">
					<span>Captain Morgan</span>
					<img src="http://cdn2.bigcommerce.com/server5500/tpbc2s65/products/856/images/889/captmorgan175__02311__09177.1407756298.1280.1280.jpg?c=2" />
				</div>
			</li>
			<li>
				<div class="ingred-content">
					<span>Coca Cola</span>
					<img src="https://pbs.twimg.com/profile_images/493592781575557120/H7R37Fc8_400x400.jpeg" />
				</div>
			</li>
			<li>
				<div class="ingred-content">
					<span>Orange Juice</span>
					<img src="http://www.howtomakeorangejuice.com/files/photos/Orange_Juice_Copyright_2012.jpg" />
				</div>
			</li>
			<li>
				<div class="ingred-content">
					<span>Svedka</span>
					<img src="http://b208032a1d3287a6d3f3-258d94be31bdb406871c37e2eb1690c4.r56.cf1.rackcdn.com/catalog/product/cache/1/image/265x/9df78eab33525d08d6e5fb8d27136e95/s/v/svedka_vodka_nv_175.png" />
				</div>
			</li>
			<li>
				<div class="ingred-content">
					<span>Cranberry Juice</span>
					<img src="http://buy.oceanspray.com/getmetafile/d027e408-e78b-4f57-b4c9-eb245658b0d0/Ocean-Spray-100--Cranberry-Juice-60-oz?maxSideSize=700" />
				</div>
			</li>
		</ul>
	</section>
</main>
