<main class="items" ng-controller="PrefSelectCtrl">

    <super-navbar class="navbar">
        <super-navbar-title>Preferences</super-navbar-title>
    </super-navbar>

    <section class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon super-ios7-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="searchBarText">
            <i class="icon super-close-circled placeholder-icon" ng-if="searchBarText" ng-click="clearSearchBarText()"></i>
        </label>
    </section>


    <section>
        <ul class="item-list list">
            <li class="item item-checkbox" ng-repeat="pref in allPreferences | orderBy: 'name'">
                <label class="checkbox">
                    <input type="checkbox" ng-model="checkedPreferences[pref.id]" ng-click="supersonic.device.vibrate()">
                </label>
                {{pref.name}}
            </li>
        </ul>
    </section>

    <div class="item_select_buttons">
      <button class="confirm" ng-click="confirm()">Confirm</button>
    </div>

</main>
