<main class="splash" ng-controller="SplashCtrl">


	<super-navbar class="navbar"></super-navbar>


	<section class="banner">
		<img src="/icons/Logo.png" />
		<h1>StockMyBar</h1>
		<p>
			Discover drink recipes that
			optimally utilize the ingredients
			you already have.
		</p>
		<super-navigate location="inputs#items">
			<button>ADD INGREDIENTS</button>
		</super-navigate>
	</section>


	<section class="bottom-icons">
		<ul>
			<super-navigate location="inputs#home">
				<li><i class="fa fa-bars"></i></li>
			</super-navigate>
			<super-navigate location="results#shoppingcart">
				<li><i class="fa fa-list-alt"></i></li>
			</super-navigate>
		</ul>
	</section>




</main>
