
/* Typography */
@font-face {
	font-family: "lovelo";
	src: url('../../../fonts/lovelo/lovelo.otf');
}
$base-font-family: Arial, Helvetica, sans-serif;
$fixed-font-family: "lovelo";
$base-font-size: 13px;
$base-line-height: 1.4;



/* Colors */
$color-background: #eeeced;
$color-text: #71747b;
$color-accent-1: #34cbc6;
$color-accent-2: #56bcd5;



/* Modules */
@import "../modules/all";



/* Partials */
@import "home";
@import "items";
@import "results";
@import "drawer";
@import "itemSelect";
@import "itemMenu";