
/* Typography */
@font-face {
	font-family: "lovelo";
	src: url('../../../fonts/lovelo/lovelo.otf');
}
$base-font-family: Arial, Helvetica, sans-serif;
$fixed-font-family: "lovelo";
$base-font-size: 13px;
$base-line-height: 1.4;



/* Colors */
$color-1: #40B5FF;



/* Modules */
@import "../modules/all";



/* Partials */
@import "home";
@import "items";
@import "results";
@import "drawer";