main.home {
	position: absolute;
	width: 100%;
	height: 100%;


	section.dash {
		width: 100%;
		background-color: #fff;

		ul {
			width: 100%;
			list-style: none;
			overflow: auto;

			li {
				padding: 10px;
				width: 100%;
				background-color: #fff;
				overflow: auto;

				i {
					float: left;
					margin-right: 15px;
					font-size: 26px;
					color: $color-7;
				}
				h3 {
					float: left;
					padding: 5px 0;
					font-size: 16px;
					color: $color-7;
				}
				hr {
    				clear: both;
    				float: right;
    				margin-top: 8px;
    				margin-bottom: 0;
    				width: calc(100% - 50px);
    				border: 1px solid #eee;
    				border-style: solid none none none;
    			}
			}
		}
	}


}