#home {

	div.banner {
		padding-top: 120px;
		text-align: center;

		h1 {
			font-size: 45px;
			color: $color-1;
		}
		button {
			margin-top: 10px;
			font-size: 25px;
			color: #fff;
			background-color: $color-1;
			border: none;
			border-radius: 3px;
		}
	}
}