main.item-select {


    section.options {
        position: fixed;
        width: 100%;
        background-color: #fff;
        border-bottom: 1px solid #c5c5c5;
        z-index: 10;

        ul {
            padding: 4px 0;
            width: 100%;
            list-style: none;
            overflow: auto;

            li {
                float: left;
                width: calc((100% - 1px) / 2);
                padding: 5px 0;

                i {
                    margin-right: 3px;
                    font-size: 20px;
                    color: $color-7;
                }
                span {
                    padding: 2px 0;
                    font-size: 16px;
                    color: $color-7;
                }
            }
            li:first-child {
                padding-right: 20px;
                border-right: 1px solid #eee;
                text-align: right;

                i, span {
                    visibility: hidden;
                }
            }
            li:last-child {
                padding-left: 20px;
                text-align: left;
            }
        }
    }


    section.search {
        top: 41px;
    }


    section.ingredients {
        padding-top: 40px;

    	ul {
    		list-style: none;

    		li {
    			padding: 6px 10px 0 10px;
    			width: 100%;
    			overflow: auto;

    			img {
    				float: left;
    				margin-right: 10px;
    				width: 60px;
    				vertical-align: top;
    			}
    			div.ingredient-info {
    				float: left;
    				margin-right: 10px;
    				width: calc(100% - 60px - 40px - 10px - 10px);
    				vertical-align: top;

    				h3 {
    					font-size: 17px;
    					color: #666;
    				}
    				span {
    					font-size: 14px;
    					color: #aaa;
    				}
    			}
    			div.meta-info {
    				float: right;
    				width: 40px;
    				vertical-align: top;

    				span {
    					color: #bbb;
    				}
    			}
    			hr {
    				clear: both;
    				float: right;
    				margin-top: 8px;
    				margin-bottom: 0;
    				width: calc(100% - 70px);
    				border: 1px solid #eee;
    				border-style: solid none none none;
    			}
    		}
            li.selected {
                background-color: lighten($color-5, 15%);

                div.ingredient-info {

                    // h3 { color: #ccc; }
                    // span { color: #ccc; }
                }
                div.meta-info {

                    // span { color: #ccc; }
                }
                hr {
                    border-color: lighten($color-5, 15%);
                }
            }
    	}
    }

}
