main.items {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #fff;


	section.options {
		position: fixed;
		width: 100%;
		background-color: #fff;
		border-bottom: 1px solid #c5c5c5;

		ul {
			margin: 0 auto;
			padding: 4px 0;
			width: 100%;
			list-style: none;
			text-align: center;

			li {
				display: inline-block;
				padding: 5px 20px;
				text-align: center;

				i {
					margin-right: 3px;
					font-size: 20px;
					color: $color-7;
				}
				span {
					padding: 2px 0;
					font-size: 16px;
					color: $color-7;
				}
			}
			li:first-child {
				border-right: 1px solid #eee;
			}
		}
	}


	section.ingreds {
		padding-top: 30px;
		width: 100%;
		min-height: 100%;
		background-color: $color-4;

		ul {
			margin: 0 auto;
			padding: 25px 0 15px 0;
			width: 90%;
			list-style: none;
			overflow: auto;

		  	li {
		  		float: left;
		  		margin: 0 5px 5px 0;
		  		padding: 5px;
		  		width: calc((100% - 15px) / 4);
				background-color: #fff;
				border: 1px solid #e8e8e8;
				border-radius: 1px;

				div.ingred-content {
					width: 100%;

					span {
						display: block;
						width: 100%;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
						font-size: 10px;
						color: #666;
					}
					img {
						display: block;
						width: 100%;
					}
				}
		  	}
		  	li:nth-child(5n-1) {
		  		margin-right: 0;
		  	}
		  	div.shelf {
		  		float: left;
		  		margin-bottom: 20px;
		  		width: 100%;
		  		height: 6px;
		  		background-color: #E09C55;
		  		border: 1px solid #AB7640;
		  	}
		}
	}
}