main.results {

	section.recipes {
		margin: 0 auto;
		width: 95%;

		ul {
			padding: 5px 0 145px 0;
			list-style: none;

			li {
				margin-bottom: 5px;
				padding: 5px 10px;
				border: 1px solid #333;
				overflow: auto;

				i {
					float: left;
					margin-right: 7px;
					font-size: 20px;
					color: #555;
				}
				h2 {
					float: left;
					font-size: 20px;
					color: #555;
				}
			}
		}
	}
	section.active-recipe {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 140px;
		background-color: #fff;
		border-top: 1px solid #999;
		z-index: 10;
		overflow: auto;

		h2.title {
			
		}
		div.ingredient-list {
			width: 50%;
			vertical-align: top;
			text-align: center;

			ul {


				li {

				}
			}
		}
		div.have {
			float: left;
		}
		div.need {
			float: right;
		}
	}
}