main.results {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #fff;


	section.options {
        position: fixed;
        width: 100%;
        background-color: #fff;
        border-bottom: 1px solid #c5c5c5;
        z-index: 10;

        ul {
            padding: 4px 0;
            width: 100%;
            list-style: none;
            overflow: auto;

            li {
                float: left;
                width: calc((100% - 1px) / 2);
                padding: 5px 0;

                i {
                    margin-right: 3px;
                    font-size: 20px;
                    color: $color-7;
                }
                span {
                    position: relative;
                    top: -1px;
                    font-size: 16px;
                    color: $color-7;
                }
            }
            li:first-child {
                padding-right: 20px;
                border-right: 1px solid #eee;
                text-align: right;

                i, span {
                    visibility: hidden;
                }
            }
            li:last-child {
                padding-left: 20px;
                text-align: left;
            }
        }
    }


	section.recipes {
		padding-top: 80px;
		width: 100%;
		background-color: #fff;

		ul {
			width: 100%;
			list-style: none;

			li {
				padding: 6px 10px 0 10px;
				width: 100%;
				overflow: auto;

				img {
					float: left;
					margin-right: 10px;
					width: 110px;
					vertical-align: top;
				}
				div.recipe-description {
					float: left;
					margin-right: 10px;
					width: calc(100% - 110px - 30px - 10px - 10px);
					vertical-align: top;

					h3 {
						font-size: 17px;
						color: #888;	
					}
					span {
						font-size: 14px;
						color: #aaa;
					}
				}
				div.recipe-metas {
					float: right;
					width: 30px;
					vertical-align: top;

					i {
						display: block;
						font-size: 35px;
					}
					i.add-recipe {
						margin-bottom: 15px;
						color: $color-1;
					}
					i.recipe-info { color: $color-7; }
				}
				div.recipe-more {
					display: none;
					float: left;
					clear: both;

					h4 {
						font-size: 16px;
						color: #aaa;
					}
					p {
						font-size: 14px;
						color: #aaa;
					}
					ul.needed {
						list-style: none;

						li {
							display: inline-block;
							margin-right: 8px;
						}
						li:last-child {
							margin-right: 0;
						}
					}
					ul.preparation {
						padding-left: 20px;
						list-style-type: square;

						li {

						}
					}
				}
				hr {
					float: right;
					clear: both;
					margin-top: 8px;
					margin-bottom: 0;
					width: calc(100% - 110px - 10px);
					border: 1px solid #eee;
					border-style: solid none none none;
				}
			}
		}
	}
	

}