/***********************************************************
 * These styles apply for native components on iOS.
 * Read more about native styles at http://docs.appgyver.com
 ***********************************************************/

navigation-bar {
  color: #fff;
  background-color: #37C7E0;
  border-bottom: 1px #1F717F solid;
}

navigation-bar title {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

navigation-bar button, navigation-bar back-bar-button {
  color: #fff;
  font-weight: 300;
}

tab-bar {
  color: #34cbc6;
  background-color: #fff;
  border-top: 1px #eee solid;
}

tab-bar tab-bar-item {
  color: #71747b;
  font-family: "Avenir";
  font-size: 10px;
}

tab-bar tab-bar-item:selected {
  color: #34cbc6;
}

tab-bar-item#home {
  background-image: url(icons/home.svg);
}

tab-bar-item#preferences {
  background-image: url(icons/heart.svg);
}

tab-bar-item#items {
  background-image: url(icons/items.svg);
}

tab-bar-item#results {
  background-image: url(icons/recipe.svg);
}


