<main class="items">
	<super-navbar class="navbar">
	  	<super-navbar-title>Items</super-navbar-title>
	  	<super-navbar-button side="right" class="add">Add Item</super-navbar-button>
	</super-navbar>

	<ul class="item-list list">
	    <li class="item">Tequila</li>
	    <li class="item">Salt</li>
	    <li class="item">Everclear</li>
	    <li class="item">Sprite</li>
	    <li class="item">Crystal Light</li>
	    <li class="item">Lime</li>
	    <li class="item">Vodka</li>
	    <li class="item">Coca Cola</li>
	    <li class="item">Gin</li>
	    <li class="item">Rum</li>
	    <li class="item">Lemonade</li>
	    <li class="item">Orange Juice</li>
	    <li class="item">Beer</li>
	    <li class="item">Whiskey</li>
	    <li class="item">Ice</li>
	</ul>

</main>