<main class="items">
	<super-navbar class="navbar">
	  	<super-navbar-title>
	    	Items
	  	</super-navbar-title>
	</super-navbar>

	<ul class="item-list list">
	    <li class="item">Jose Cuervo Gold</li>
	    <li class="item">Lime</li>
	    <li class="item">Absolut</li>
	    <li class="item">Crystal Light</li>
	    <li class="item">Salt</li>
	    <li class="item">Lemonade</li>
	    <li class="item">Sprite</li>
	    <li class="item">Coca Cola</li>
	    <li class="item">Blue Moon</li>
	</ul>

</main>